<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div class="container-fluid">
      <div class="center">
        <div class="logoDirty">
          <img alt="DirtyTalks logo" src="https://ik.imagekit.io/hotchat/customers/61e978c2de0476f3d7d30b25/chatImages/1661548635334_fire-lgn_b3g0eXrlI.png" style="height: auto; width: 26px;">
          <div style="margin-left: 5px;">DirtyTalks</div>
        </div>
      </div>
      <div class="row">
        hello {{ name }}.
        <br/>
        {{ newCoins }} coins have been {{action}} from the wallet.
        <br/>
        description: {{ detail }}.
      </div>
    </div>
  </body>
</html>
<style type="text/css">
  .container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    padding-right: -15px;
    padding-left: -15px;
  }
  .center {
    text-align: center;
  }
  @media (min-width:576px){
    .col-sm-1{width:8.33333333%;}
    .col-sm-2{width:16.66666667%;}
    .col-sm-3{width:25%;}
    .col-sm-4{width:33.33333333%;}
    .col-sm-5{width:41.66666667%;}
    .col-sm-6{width:50%;}
    .col-sm-7{width:58.33333333%;}
    .col-sm-8{width:66.66666667%;}
    .col-sm-9{width:75%;}
    .col-sm-10{width:83.33333333%;}
    .col-sm-11{width:91.66666667%;}
    .col-sm-12{width:100%;}
  }
  @media (min-width:768px){
    .col-md-1{width:8.33333333%;}
    .col-md-2{width:16.66666667%;}
    .col-md-3{width:25%;}
    .col-md-4{width:33.33333333%;}
    .col-md-5{width:41.66666667%;}
    .col-md-6{width:50%;}
    .col-md-7{width:58.33333333%;}
    .col-md-8{width:66.66666667%;}
    .col-md-9{width:75%;}
    .col-md-10{width:83.33333333%;}
    .col-md-11{width:91.66666667%;}
    .col-md-12{width:100%;}
  }
  @media (min-width:992px){
    .col-lg-1{width:8.33333333%;}
    .col-lg-2{width:16.66666667%;}
    .col-lg-3{width:25%;}
    .col-lg-4{width:33.33333333%;}
    .col-lg-5{width:41.66666667%;}
    .col-lg-6{width:50%;}
    .col-lg-7{width:58.33333333%;}
    .col-lg-8{width:66.66666667%;}
    .col-lg-9{width:75%;}
    .col-lg-10{width:83.33333333%;}
    .col-lg-11{width:91.66666667%;}
    .col-lg-12{width:100%;}
  }
  @media (min-width:1200px){
    .col-xl-1{width:8.33333333%;}
    .col-xl-2{width:16.66666667%;}
    .col-xl-3{width:25%;}
    .col-xl-4{width:33.33333333%;}
    .col-xl-5{width:41.66666667%;}
    .col-xl-6{width:50%;}
    .col-xl-7{width:58.33333333%;}
    .col-xl-8{width:66.66666667%;}
    .col-xl-9{width:75%;}
    .col-xl-10{width:83.33333333%;}
    .col-xl-11{width:91.66666667%;}
    .col-xl-12{width:100%;}
  }
  .logoDirty {
    max-width:11rem;
    display: inline-flex;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
  }
</style>