<p>Hey {{ name }}, you recieved a new message</p>
<p style="color:"e9602a";">
    <a href="{{ url }}">Click here to read your message</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>